.szoveg{
    display: flex;
    align-items: center;
}

.carousel-item img{
    border-radius: 5%;
}



@media screen and (width > 1400px) {
/* Fő oldal */
    body{
        width: fit-content;
    }
    
    .hatter{
        width: auto;
        padding: 0 0 30% 0;
        position: relative;
    }
    
    
    .navbar{
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
        padding-top: 1.5%;
        padding-right: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
    }
    
    .navbar-brand{
        font-family: cursive;
        font-size: 200%;
    }
    
    .navbar-toggler{
        padding: 0;
        border: 0;
        color: white;
        font-family: "Gloria Hallelujah";
    }
    
    .hatterszin {
        background-color: #EE82EE;
    }


    .option{
        width: fit-content;
        transition: 0.5s;
    }

    .option:hover{
        transform: scale(150%);
        transition-duration: 0.5s;
    }


    .kezzelirott{
        font-family: cursive;
        font-size: 180%;
    }
    
    .kozep{
        text-align: center;
        margin: 0 auto;
    }
    
    .stickytopszar{
        padding-top: 8%;
    }

    .kek_nagy_cim{
        color: rgb(54, 54, 224);
        font-size: 250%;
        font-family: "Matemasie", sans-serif;
    }

    .bevezeto{
        text-align: center;
        font-size: 150%;
        padding: 0 10% ;
    }
    
    .piros_nagy_cim{
        color: rgb(206, 91, 91);
        font-size: 250%;
        font-family: "Matemasie", sans-serif;
    }

    .piros_nagy_cim a{
        text-decoration: none;
        color: none;
        color: rgb(206, 91, 91);
    }
    
    .row{
        margin-right: 0;
        margin-top: 0;
    }

    .lebego_kep_1{
        position: absolute;
        height: 30%;
        top: 15%;
        left: 10%;
        z-index: -5;
        transform: rotate(-20deg);
    }
    
    .lebego_kep_2{
        position: absolute;
        height: 35%;
        top: 30%;
        left: 70%;
        z-index: -5;
        transform: rotate(-30deg);
    }

    .lebego_kep_3{
        position: absolute;
        height: 30%;
        top: 70%;
        left: 20%;
        z-index: -5;
        transform: rotate(20deg);
    }
    
    /* 2023 */
    .evcim{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10% 0 0 0;
        position: relative;
        z-index: 10;
    }

    .elem{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10%;
        position: relative;
    }
    
    .szoveg p{
        text-align: center;
    }

    .carousel-item img{
        height: 25% !important;
        width: 50% !important;
    }

    div.col-sm-6{
        margin-top: 2%;
    }

    .hatterkepek{
        background-color: rgba(255,255, 255, 0.7);
        position: absolute;
        top: 20%;
        left: 5%; 
        width: 90% ;
        height: 110%;

    }

    .flexjobb{
        z-index: -3;
        display: flex;
        height: 20%;
        width: 90%;
        justify-content: end;
        margin: 7%;
    }

    .flexbal{
        display: flex;
        height: 20%;
        width: 90%;
        justify-content: start;
        margin: 7%;
        z-index: -3;
    }

    .kepjobb{
        rotate: -20deg;
        z-index: -10;
    }

    .kepbal{
        rotate: 20deg;
        z-index: -10;
    }
    
    .telefon{
        display: none;
    }
}

@media screen and (width > 700px ) { 
    
    body{
        width: fit-content;
    }
    
    .hatter{
        width: auto;
        padding: 0 0 10% 0;
        position: relative;
    }
    
    .hatterszin {
        background-color: #EE82EE;
    }
    
    .navbar{
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
        padding-top: 1.5%;
        padding-right: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
    }
    
    .navbar-brand{
        font-family: cursive;
        font-size: 200%;
    }

    .navbar-toggler{
        padding: 0;
        border: 0;
        color: white;
        font-family: "Gloria Hallelujah";
    }
    
    .option{
        width: fit-content;
        transition: 0.5s;
    }

    .option:hover{
        transform: scale(150%);
        transition-duration: 0.5s;
    }


    .kezzelirott{
        font-family: cursive;
        font-size: 180%;
    }
    
    .kozep{
        text-align: center;
        margin: 0 auto;
    }
    
    .kek_nagy_cim{
        color: rgb(54, 54, 224);
        font-size: 250%;
        font-family: "Matemasie", sans-serif;
    }
    
    .piros_nagy_cim{
        color: rgb(206, 91, 91);
        font-size: 250%;
        font-family: "Matemasie", sans-serif;
        position: relative;
    }

    .piros_nagy_cim a{
        text-decoration: none;
        color: none;
        color: rgb(206, 91, 91);
    }
    
    .bevezeto{
        text-align: center;
        font-size: 150%;
        padding: 0 5%;
    }
    
    .stickytopszar{
        padding-top: 8%;
    }
    
    .row{
        margin-right: 0;
        margin-top: 0;
    }

    .lebego_kep_1{
        position: absolute;
        height: 35%;
        top: 20%;
        left: 10%;
        z-index: -5;
        transform: rotate(-20deg);
    }
    
    .lebego_kep_2{
        position: absolute;
        height: 20%;
        top: 35%;
        left: 60%;
        z-index: -5;
        transform: rotate(-30deg);
    }

    .lebego_kep_3{
        position: absolute;
        height: 30%;
        top: 80%;
        left: 20%;
        z-index: -5;
        transform: rotate(20deg);
    }


    /* 2023 */

    .evcim{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 2% 0 0 0;
        position: relative;
        z-index: 10;
    }

    .elem{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10%;
        position: relative;
    }
    
    .szoveg p{
        text-align: center;
    }

    .carousel-item img{
        width: 40% !important;
        margin: 0 auto;
    }

    div.col-sm-6{
        margin-top: 2%;
    }

    .hatterkepek{
        background-color: rgba(255,255, 255, 0.7);
        position: absolute;
        top: 20%;
        left: 5%; 
        width: 90% ;
    }

    .flexjobb{
        z-index: -3;
        display: flex;
        width: 90%;
        justify-content: end;
        margin: 7%;
        padding-right: 5%;
    }

    .flexbal{
        display: flex;
        width: 90%;
        justify-content: start;
        margin: 7%;
        z-index: -3;
    }

    .kepjobb{
        rotate: -20deg;
        z-index: -10;
        height: 200px;
    }

    .kepbal{
        rotate: 20deg;
        z-index: -10;
        height: 200px;
    }

    /* 2024 */

    .hatterkepek24{
        background-color: rgba(255,255, 255, 0.4);
        position: absolute;
        top: 20%;
        left: 5%; 
        width: 90% ;
    }

    .flexjobb24{
        z-index: -3;
        display: flex;
        height: 2%;
        width: 90%;
        justify-content: end;
        margin: 7%;
        padding-right: 5%;
    }

    .flexbal24{
        display: flex;
        height: 2%;
        width: 90%;
        justify-content: start;
        margin: 7%;
        z-index: -3;
    }

    .telefon{
        display: none;
        height: 0%;
    }

    .tablet{
        display: none;
        height: 0%;
    }

    .carousel-control-next-icon{
        /* border: 1px solid black; */
        margin-left: -350%;
    }
    
    .carousel-control-prev-icon{
        margin-right: -350%;
    }

    .nemjo{
        height: 0%;
        display: none;
    }
}


@media screen and (width <= 700px) {
    body{
        width: 100%;
    
    }


    .hatter{
        width: auto;
        position: relative;
    }
    
    .hatterszin {
        background-color: #EE82EE;
    }
    
    .navbar{
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
        padding-top: 1.5%;
        padding-right: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
    }
    
    .navbar-brand{
        font-family: cursive;
        font-size: 175%;
        margin: 0 auto;
    }
    
    .navbar-toggler{
        margin: 0 auto;
        padding: 0;
        border: 0;
        color: white;
        font-family: "Gloria Hallelujah";
    }

    .navigációsbár{
        flex-direction: column;
    }
    
    .option{
        width: fit-content;
        transition: 0.5s;
    }

    .option:hover{
        transform: scale(150%);
        transition-duration: 0.5s;
    }


    .kezzelirott{
        font-family:  cursive;
        font-size: 180%;
    }
    
    .kozep{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .kek_nagy_cim{
        color: rgb(54, 54, 224);
        font-size: 250%;
        font-family: "Matemasie", sans-serif;
    }
    
    .piros_nagy_cim{
        color: rgb(206, 91, 91);
        font-size: 250%;
        font-family: "Matemasie", sans-serif;
        margin-bottom: 10%;
        position: relative;
        z-index: 5;
    }
    
    .piros_nagy_cim a{
        text-decoration: none;
        color: none;
        color: rgb(206, 91, 91);
    }

    .bevezeto{
        text-align: center;
        font-size: 150%;
    }
    
    .stickytopszar{
        padding-top: 8%;
    }
    
    .row{
        margin-right: 0;
        margin-top: 0;
    }
    
    .lebego_kep_1{
        position: absolute;
        height: 15%;
        top: 40%;
        left: 10%;
        z-index: -5;
        transform: rotate(-20deg);
    }

    .lebego_kep_2{
        position: absolute;
        height: 20%;
        top: 70%;
        left: 30%;
        z-index: -5;
        transform: rotate(-30deg);
    }
    
    .lebego_kep_3{
        position: absolute;
        height: 15%;
        top: 120%;
        left: 20%;
        z-index: -5;
        transform: rotate(20deg);
    }

    /* 2023 */

    .evcim{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 15% 0 0 0;
    }

    .elem{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 10%;
        position: relative;
    }
    
    .szoveg p{
        text-align: center;
    }

    div.col-sm-6{
        margin-top: 10%;
    }

    .hatterkepek{
        background-color: rgba(255,255, 255, 0.7);
        position: absolute;
        top: 20%;
        left: 5%; 
        right: 5%;
        width: 90% ;

    }

    .flexjobb{
        z-index: -3;
        display: flex;
        width: 90%;
        justify-content: end;
        margin: 7%;
        padding: 5%;
    }

    .flexbal{
        display: flex;
        width: 90%;
        justify-content: start;
        margin: 7%;
        z-index: -3;
        padding: 5%;

    }

    .kepjobb{
        rotate: -20deg;
        z-index: -10;
        height: 150px;
    }

    .kepbal{
        rotate: 20deg;
        z-index: -10;
        height: 150px;
    }


    
    /* 2024 */

    .hatterkepek24{
        position: absolute;
        top: 20%;
        left: 5%; 
        width: 90% ;
    }

    .flexjobb24{
        z-index: -3;
        display: flex;
        width: 90%;
        justify-content: end;
        margin: 7%;
        padding-right: 5%;
    }

    .flexjobb24 img{
        opacity: 0.3;
    }

    .flexbal24 img{
        opacity: 0.3;
    }

    .flexbal24{
        display: flex;
        width: 90%;
        justify-content: start;
        margin: 7%;
        z-index: -3;
    }

    .carousel-control-next-icon{
        /* border: 1px solid black; */
        margin-left: -60%;
    }
    
    .carousel-control-prev-icon{
        margin-right: -60%;
    }

    .ne{
        height: 0%;
        display: none;
    }

    .nemjo{
        display: none;
        height: 0%;
    }

    .nemtelefon{
        display: none;
        height: 0%;
    }

} 


@media  (width > 1000px) and (width < 1050px) {
    .ipad{
        display: none;
        height: 0%;
    }

    .carousel-item img{
        width: 60% !important;
        margin: 0 auto;
    }

    .carousel-control-prev-icon{
        margin-right: -250%;
    }
    
    .carousel-control-next-icon{
        margin-right: -100%;
    }
}

@media (width < 900px) and (width > 700px){
    .nemjo{
        display: none;
        height: 0%;
    }
}

@media (width > 1200px){
    .ne{
        display: none;
        height: 0%;
    }
}